.background-customizable {
  background-color: #fff;
}
.banner-customizable {
  background-color: #fff;
  color: #000;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.errorMessage-customizable {
  color: red;
}
.idpButton-customizable {
  background-color: #fff;
  color: #000;
}
.idpButton-customizable:hover {
  background-color: #f2f2f2;
}
.idpDescription-customizable {
  color: #000;
  display: block;
}
.inputField-customizable {
  background-color: #fff;
  color: #000;
  height: 35px;
  margin-bottom: 20px;
}
.inputField-customizable:focus {
  background-color: #f2f2f2;
}
.label-customizable {
  font-weight: 500;
}
.legalText-customizable {
  color: #333;
}
.logo-customizable {
  background-color: #fff;
}
.passwordCheck-valid-customizable {
  color: green;
}
.passwordCheck-notValid-customizable {
  color: red;
}
.redirect-customizable {
  color: #333;
}
.socialButton-customizable {
  background-color: #fff;
  color: #000;
}
.submitButton-customizable {
  background-color: #5f47b7;
  color: #fff;
}
.submitButton-customizable:hover {
  background-color: #2a298f;
  color: #fff;
}
.textDescription-customizable {
  color: #333;
  padding-bottom: 20px;
}
