<!doctype html>
<html>
  <head>
    <title>Confirm Your Email Address</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 690px; margin: 0 auto; background-color: #130e25"
    >
      <tr>
        <td style="padding: 34px; text-align: center">
          <a
            href="https://www.praetorian.com/"
            target="_blank"
            style="text-decoration: none"
          >
            <img
              src="https://preview.chariot.praetorian.com/icons/email/PraetorianLogo.png"
              width="123"
              height="30"
              alt="Praetorian Logo"
              style="display: block"
            />
          </a>
        </td>
        <td
          style="
            padding: 34px;
            text-align: right;
            color: white;
            font-size: 16px;
            font-family:
              -apple-system,
              BlinkMacSystemFont,
              'Segoe UI',
              Roboto,
              Helvetica Neue,
              Helvetica,
              Arial,
              sans-serif,
              'Apple Color Emoji',
              'Segoe UI Emoji',
              'Segoe UI Symbol';
            font-weight: 900;
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: 1.6px;
          "
        >
          Email Confirmation
        </td>
      </tr>
    </table>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="
        max-width: 500px;
        margin: 0 auto;
        padding: 50px 30px 70px 30px;
        text-align: center;
        font-family:
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Helvetica Neue,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        font-size: 14px;
        line-height: 20px;
      "
    >
      <tr>
        <td
          align="center"
          style="
            padding-bottom: 36px;
            color: black;
            font-size: 34px;
            font-weight: 700;
            line-height: 34px;
            word-wrap: break-word;
          "
        >
          Confirm Your Email Address
        </td>
      </tr>
      <tr>
        <td
          align="center"
          style="
            color: black;
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            word-wrap: break-word;
          "
        >
          <span style="color: #4d3995">*</span>
          <span style="color: #8f7ecd">*</span>
          <span style="color: #4d3995">*</span>
        </td>
      </tr>
      <tr>
        <td align="left" style="text-align: center">
          <p>
            Finish account activation by copying the unique code below and
            pasting it into Chariot's six digit email verification form.
          </p>
        </td>
      </tr>
      <tr>
        <td
          align="left"
          style="
            color: black;
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;
            letter-spacing: 10px;
          "
        >
          <p>{####}</p>
        </td>
      </tr>
      <tr>
        <td align="left" style="padding-bottom: 25px; text-align: center">
          <p>
            Your confirmation code will expire in 24 hours. Please take action
            as soon as possible to help us protect your account.
          </p>
        </td>
      </tr>
      <tr>
        <td style="">Thank you for trusting <b>Praetorian.</b></td>
      </tr>
    </table>

    <!-- Footer Find us online, we're hiring -->
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 690px; margin: 0 auto"
      role="module"
    >
      <tbody>
        <tr role="module-content">
          <td
            align="center"
            bgcolor="#4d3995"
            valign="top"
            style="padding: 40px 0"
          >
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td
                  style="
                    color: white;
                    font-size: 24px;
                    font-family:
                      -apple-system,
                      BlinkMacSystemFont,
                      'Segoe UI',
                      Roboto,
                      Helvetica Neue,
                      Helvetica,
                      Arial,
                      sans-serif,
                      'Apple Color Emoji',
                      'Segoe UI Emoji',
                      'Segoe UI Symbol';
                    font-weight: 700;
                    text-align: center;
                  "
                >
                  Learn More About Our Platform
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 10px">
                  <table
                    border="0"
                    cellspacing="5"
                    style="
                      font-size: 8px;
                      font-family:
                        -apple-system,
                        BlinkMacSystemFont,
                        'Segoe UI',
                        Roboto,
                        Helvetica Neue,
                        Helvetica,
                        Arial,
                        sans-serif,
                        'Apple Color Emoji',
                        'Segoe UI Emoji',
                        'Segoe UI Symbol';
                      font-weight: 400;
                      line-height: 14px;
                    "
                  >
                    <tr>
                      <td>
                        <table style="color: white">
                          <tr>
                            <td>
                              <img
                                src="https://preview.chariot.praetorian.com/icons/email/ASM.png"
                                width="15"
                                height="15"
                              />
                            </td>
                            <td valign="center">
                              <a
                                href="https://www.praetorian.com/chariot/attack-surface-management/"
                                target="_blank"
                                style="color: white; text-decoration: none"
                                >Attack Surface Management</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td>
                        <table style="color: white">
                          <tr>
                            <td>
                              <img
                                src="https://preview.chariot.praetorian.com/icons/email/PenTest.png"
                                width="15"
                                height="15"
                              />
                            </td>
                            <td style="height: 15px">
                              <a
                                href="https://www.praetorian.com/chariot/15-day-pilot-continuous-pen-test/"
                                target="_blank"
                                style="color: white; text-decoration: none"
                                >Continuous Penetration Testing</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table style="color: white">
                          <tr>
                            <td>
                              <img
                                src="https://preview.chariot.praetorian.com/icons/email/VulnerabilityMgmt.png"
                                width="15"
                                height="15"
                              />
                            </td>
                            <td valign="center">
                              <a
                                href="https://www.praetorian.com/chariot/vulnerability-management/"
                                target="_blank"
                                style="color: white; text-decoration: none"
                                >Vulnerability Management</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td>
                        <table style="color: white">
                          <tr>
                            <td>
                              <img
                                src="https://preview.chariot.praetorian.com/icons/email/BAS.png"
                                width="15"
                                height="15"
                              />
                            </td>
                            <td style="height: 15px">
                              <a
                                href="https://www.praetorian.com/chariot/breach-attack-simulation/"
                                target="_blank"
                                style="color: white; text-decoration: none"
                                >Breach and Attack Simulation</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table style="color: white">
                          <tr>
                            <td>
                              <img
                                src="https://preview.chariot.praetorian.com/icons/email/AttackPathMapping.png"
                                width="15"
                                height="15"
                              />
                            </td>
                            <td valign="center">
                              <a
                                href="https://www.praetorian.com/chariot/continuous-red-teaming/"
                                target="_blank"
                                style="color: white; text-decoration: none"
                                >Attack Path Mapping</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td>
                        <table style="color: white">
                          <tr>
                            <td>
                              <img
                                src="https://preview.chariot.praetorian.com/icons/email/ThreatIntelligence.png"
                                width="15"
                                height="15"
                              />
                            </td>
                            <td style="height: 15px">
                              <a
                                href="https://www.praetorian.com/chariot/threat-intelligence/"
                                target="_blank"
                                style="color: white; text-decoration: none"
                                >Threat Intelligence</a
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <span
                    style="
                      color: white;
                      font-size: 10px;
                      font-family:
                        -apple-system,
                        BlinkMacSystemFont,
                        'Segoe UI',
                        Roboto,
                        Helvetica Neue,
                        Helvetica,
                        Arial,
                        sans-serif,
                        'Apple Color Emoji',
                        'Segoe UI Emoji',
                        'Segoe UI Symbol';
                      font-weight: 400;
                      line-height: 18px;
                      word-wrap: break-word;
                    "
                    >Stay up on our latest
                    <a
                      style="color: white"
                      href="https://www.praetorian.com/category/vulnerability-research/"
                      target="_blank"
                      >vulnerability research</a
                    >
                  </span>
                </td>
              </tr>
            </table>
          </td>
          <td
            align="center"
            bgcolor="#5f47b7"
            valign="top"
            style="width: 50%; padding: 40px 0"
          >
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td
                  style="
                    color: white;
                    font-size: 24px;
                    font-family:
                      -apple-system,
                      BlinkMacSystemFont,
                      'Segoe UI',
                      Roboto,
                      Helvetica Neue,
                      Helvetica,
                      Arial,
                      sans-serif,
                      'Apple Color Emoji',
                      'Segoe UI Emoji',
                      'Segoe UI Symbol';
                    font-weight: 700;
                    text-align: center;
                  "
                >
                  Watch What Nielsen's CISO Has to Say About Chariot
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 30px">
                  <a
                    href="https://www.praetorian.com/customers/nielsen/"
                    target="_blank"
                    ><img
                      src="https://preview.chariot.praetorian.com/icons/email/Youtube.png"
                      width="90"
                      height="60"
                  /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Footer Dark -->
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 700px; margin: 0 auto; background-color: #130e25"
    >
      <tbody>
        <tr>
          <td
            align="center"
            bgcolor="#130e25"
            valign="top"
            style="padding-top: 32px"
          >
            <a
              href="https://www.praetorian.com/"
              target="_blank"
              style="text-decoration: none"
            >
              <img
                src="https://preview.chariot.praetorian.com/icons/email/PraetorianLogo.png"
                width="82"
                height="20"
                alt="Praetorian Logo"
                style="display: block"
              />
            </a>
          </td>
        </tr>
        <tr>
          <td
            style="
              padding: 12px;
              color: rgba(255, 255, 255, 0.4);
              font-size: 10px;
              font-family:
                -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                Roboto,
                Helvetica Neue,
                Helvetica,
                Arial,
                sans-serif,
                'Apple Color Emoji',
                'Segoe UI Emoji',
                'Segoe UI Symbol';
              font-weight: 400;
              line-height: 14px;
              word-wrap: break-word;
              padding-bottom: 32px;
            "
            align="center"
          >
            <table>
              <tr>
                <td>
                  <a
                    style="
                      text-decoration: underline;
                      color: rgba(255, 255, 255, 0.4);
                    "
                    href="https://www.praetorian.com/terms-of-service/"
                    target="_blank"
                    >Terms of Service</a
                  >
                </td>
                <td>|</td>
                <td>
                  <a
                    style="
                      text-decoration: underline;
                      color: rgba(255, 255, 255, 0.4);
                    "
                    href="https://www.praetorian.com/privacy-policy/"
                    target="_blank"
                    >Privacy Policy</a
                  >
                </td>
                <td>|</td>
                <td>
                  <a
                    style="
                      text-decoration: underline;
                      color: rgba(255, 255, 255, 0.4);
                    "
                    href="mailto:support@praetorian.com"
                    target="_blank"
                    >support@praetorian.com</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
