@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #7f67d7;
  color: #fff;
}

.col-resize {
  cursor: col-resize;
}

.markdownSelection textarea::selection {
  background-color: #7f67d75f;
  color: #fff;
}

@layer base {
  :root {
    /*Header*/
    --header-light: #3d3d53;
    --header: #0d0d28;
    --header-dark: #25253e;

    --text-header-light: theme('colors.gray.100');
    --text-header: theme('colors.gray.200');
    --text-header-dark: theme('colors.gray.300');

    --border-header: theme('colors.gray.600');

    /*Default*/
    --default-light: theme('colors.gray.100');
    --default: theme('colors.gray.200');
    --default-dark: theme('colors.gray.300');

    --text-default-light: theme('colors.gray.500');
    --text-default: theme('colors.gray.800');
    --text-default-dark: theme('colors.gray.900');

    --text-disabled: theme('colors.gray.400');

    --border-default: #e7e7e9;
    --border-divider: 'rgb(255, 255, 255, .18)';

    /*Layers*/
    --layer0: theme('colors.white');
    --layer1: theme('colors.gray.100');
    --layer2: theme('colors.gray.50');

    /*Primary*/
    --brand-lighter: #ece6fc;
    --brand-light: #afa3db;
    --brand: 95 71 183;
    --brand-dark: #4b37a3;
    --primary: 86 88 239;
    --highlight: 86 88 239;
    --contract: 0 0 0;
  }
  /*
  @media (prefers-color-scheme: dark) {
    :root {
      --text-default-light: theme('colors.gray.400');
      --text-default: theme('colors.gray.200');
      --text-default-dark: theme('colors.gray.800');

      --default-light: theme('colors.gray.700');
      --default: theme('colors.gray.600');
      --default-dark: theme('colors.gray.600');

      --border-default: theme('colors.stone.600');

      --layer0: #0d0d28;
      --layer1: #313147;

      --highlight: 250 250 249;
      --contract: 255 255 255;

      --brand-lighter: #474158;
      --brand: 134 101 255;

      --tw-ring-color: theme('colors.stone.700');
    }
  }
  */

  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  ol {
    list-style: auto;
    padding-left: 1rem;
  }
}

.react-grid-item.react-grid-placeholder {
  background-color: var(--brand-light);
}

.icon-container {
  width: 36px;
  height: 44px;
  position: relative;
  overflow: hidden;
}

.icon-mask {
  clip-path: inset(0 100% 0 0);
  animation: reveal 2s linear infinite;
}

@keyframes reveal {
  0%,
  100% {
    clip-path: inset(0 100% 0 0);
  }
  99.99% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes lag-spin {
  0% {
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }
  50% {
    stroke-dashoffset: 175;
    transform: rotate(180deg);
  }
  100% {
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}

.animate-lag-spin {
  animation: lag-spin 2s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Drawer Animations */
@keyframes slide-up {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-down {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

.drawer-enter {
  transform: translate3d(0, 100%, 0);
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

.drawer-enter-active {
  transform: translate3d(0, 0, 0);
}

.drawer-exit {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

.drawer-exit-active {
  transform: translate3d(0, 100%, 0);
}
